@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./fonts.css);

:root {
    --primary: #19B394;
    --secondary: #FF9814;

    --primary-lighter: #D2F9F1;
    --primary-light: #79ECD5;
    --primary-dark: #13866F;
    --primary-darker: #062D25;

    --secondary-lighter: #FFE9CC;
    --secondary-light: #FFBC66;
    --secondary-dark: #995600;
    --secondary-darker: #331D00;

    --black: #161616;
    --gray: #8A8A8A;
    --white: #FEFEFE;
    --white-100: #FFFFFF;

}