@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');

:root {
    --primary: #19B394;
    --secondary: #FF9814;

    --primary-lighter: #D2F9F1;
    --primary-light: #79ECD5;
    --primary-dark: #13866F;
    --primary-darker: #062D25;

    --secondary-lighter: #FFE9CC;
    --secondary-light: #FFBC66;
    --secondary-dark: #995600;
    --secondary-darker: #331D00;

    --black: #161616;
    --gray: #8A8A8A;
    --white: #FEFEFE;
    --bg-white: #F7FAF9;
    --white-100: #FFFFFF;

    --danger: #EF4838;
    --danger-hover: #ca3c2f;

}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-white);
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

h1 {
    color: var(--Neutral-Neutral-7, #0F1113);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}