.legend {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    padding-inline: 80px;
    /* Espaçamento entre os itens da legenda */
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-item span:first-child {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 8px;
    /* Espaçamento entre o quadrado e o texto */
}

.legend-item span:last-child {
    font-size: 12px;
    color: #333;
    /* Cor do texto, pode ajustar conforme necessário */
}